:root {
    --gray: #9b9b9b;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    background-color: #f0f0f000;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 1rem;
    transition: background-color 150ms;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #f0f0f0;
}

* {
    font-family: 'Poppins', sans-serif;
}

html {
    width: 100%;
    height: calc(100% - 5rem);
    margin: 0;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    width: calc(100% - 2rem);
    height: 5rem;
    z-index: 101;
    padding-left: 2rem;
}

h1 {
    font-size: 1.5rem;
}

#profile {
    display: flex;
    align-items: center;
    width: 6rem;
    justify-content: space-around;
    padding-right: 1rem;

    -webkit-tap-highlight-color: transparent;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

#profile svg {
    width: 1.5rem;
    fill: #9b9b9b;
    border-radius: 1rem;
    height: 1.5rem;
    padding: 0.3rem;
    transition: fill 150ms, background-color 150ms;
}

#profile svg:hover {
    fill: #d4a815;
    cursor: pointer;
    background-color: #ffecb0b6;
}

nav {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 6rem);
    width: 12rem;
    padding: 1rem;
    padding-top: 5rem;
    overflow: hidden;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgb(255, 255, 255);
    transition: width 150ms;
    border-radius: 0 1rem 1rem 0;
    z-index: 100;
    /* border: 2px solid #f0f0f0; */
    box-shadow: 1px 5px 5px 2px rgba(0, 0, 0, 0.06);
}

nav h2 {
    font-size: medium;
}

nav svg {
    margin: 0 1rem;
}

#logo {
    height: 2rem;
    width: 3.5rem;
}

.icon {
    height: 2rem;

}

.avatarSmall {
    height: 2.5rem;
    border-radius: 100%;
    border: 2px solid #d4a71500;
    transition: border 150ms, outline 150ms;
    outline: #ffecb0b6 solid 0px;
    cursor: pointer;
}
.avatarSmall:hover {
    outline: #ffecb0b6 solid 6px;
}

#profilePanel {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 1rem;
    height: 12rem;
    width: 12rem;
    top: 0.3rem;
    right: 0.3rem;
    flex-direction: column;
    box-shadow: -1px 0px 15px 2px rgba(0, 0, 0, 0.06);
    padding: 1rem;
    justify-content: space-around;
    text-align: center;
    user-select: none;
}
#profilePanel img {
    height: 3rem;
    width: 3rem;
}
#profilePanel .imgContainer {
    display: flex;
    justify-content: center;
}
#profilePanel .options {
    display: flex;
    align-items: center;
    color: #9b9b9b;
    font-weight: bold;
    border-radius: 1rem;
    padding: 0.3rem;
    transition: background-color 150ms, color 150ms;
}
#profilePanel .options:hover {
    cursor: pointer;
    background-color: #ffecb0b6;
    color: #d4a815;
}
#profilePanel .options:hover svg {
    background-color: #ffecb0b6;
    fill: #d4a815;
    color: #d4a815;
}
#profilePanel .name {
    justify-content: center;
    color: #000;
    font-size: large;
}
#profilePanel div p {
    margin: 0;
}
#active {
    fill: black;
}

nav div {
    display: flex;
    position: relative;
    height: 2.5rem;
    width: 12rem;
    align-items: center;
    text-decoration: none;
    color: var(--gray);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    border-radius: 1rem;
    font-weight: bold;
    transition: background-color 150ms, color 150ms, fill 150ms;
    fill: var(--gray);
    user-select: none;
    cursor: pointer;

    -webkit-tap-highlight-color: transparent;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

nav div svg {
    width: 2rem;
    margin-right: 1rem;
    transition: margin 150ms;
    user-select: none;
}

#logo {
    margin-left: 2rem;
}

nav div:hover {
    color: #d4a815;
    background-color: #ffecb0b6;
    fill: #d4a815;
}

#app {
    margin-left: 17rem;
    margin-top: 5rem;
    height: auto;
    padding-bottom: 5rem;
}
#homeContent {
    display: flex;
    width: 100%;
}
.loadingText {
    color: #ffffff;
    border-radius: 1rem;
    width: 70%;
    transition: color 400ms;
}
.cabecera {
    filter: opacity(0%);
    transition: filter 150ms;
}
.cVisible {
    filter: opacity(100%);
}
h3 {
    font-size: 2rem;
}

.calendarSectionInvisible {
    filter: opacity(0%);
    transition: filter 150ms;
}
.calendarSectionVisible {
    filter: opacity(100%);
}

#calendarApp {
    width: 100%;
    padding-bottom: 4rem;
    transition: filter 150ms;
}
#calendarApp h3 {
    margin: 1rem 0;
}
#hours {
    padding-top: 1rem;
    height: calc(100% - 13rem);
    width: 100%;
    overflow-y: scroll;
    box-shadow: inset 0px 0px 22px 13px rgba(255, 255, 255, 1);
    user-select: none;
}

.hourInfo {
    display: flex;
    align-items: start;
}

.hour {
    border-top: 3px solid #f0f0f0;
    width: 80%;
    height: 3rem;
    margin: 0 1rem;
    transition: background-color 150ms;
}

.hour div:not(.ocupada):not(.hSelected):hover {
    background-color: #fafafa;
}
.hour:focus {
    background-color: #ffecb0b6;
}
.hour div {
    width: 100%;
    height: 50%;
}
.ocupada {
    background-color: #f0f0f0;
}
.time {
    margin-top: -0.6rem;
    width: 6rem;
    text-align: right;
}

#day {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 28rem;
    height: calc(100vh - 8rem);
    z-index: 2;
    right: 1rem;
    background-color: white;
    top:5rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    box-shadow: 0px 0px 18px -10px rgba(0,0,0,1);
    outline: #ffecb0b6 solid 0px;
    overflow-y: scroll;
    transition: box-shadow 150ms, outline 150ms;
}
#day h4 {
    margin: 0.5rem;
    text-align: center;
}
.btnLlamar {
    justify-content: center;
    background-color: #7b67eeb6;
    border: none;
    color: white;
    font-weight: bold;
    
}
.btnLlamar label {
    color: white;
}
.btnLlamar a {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: white;
}
#day:hover {
    outline: #ffecb0b6 solid 0px;
}
#calendarSection {
    display: flex;
    width: 100%;
}
#firstC {
    width: 55%;
}
#secondC {
    margin: 0 2rem;
    width: calc(45% - 4rem);
}
#calendar {
    width: 100%;
}
.cita {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.06);
    width: calc(100% - 2rem);
    padding: 1rem;
}
.cita h4 {
    margin: 0;
}
.cita svg {
    height: 2rem;
    width: 2rem;
}
#timeOptions {
    margin: 1rem 0;
    display: flex;
    width: 100%;
    height: 3rem;
    justify-content: space-around;
    border-radius: 1rem;
    background-color: #f0f0f0;
    user-select: none;
}
#timeOptions p {
    border-radius: 1rem;
    border: 4px solid #f0f0f0;
    display: flex;
    width: calc(33% - 8px);
    align-items: center;
    justify-content: center;
    height: calc(100% - 8px);
    margin: 0;
    transition: background-color 150ms;
}
#timeOptions p:hover {
    background-color: #fff;
}
.selected {
    background-color: #fff;
}
.hSelected {
    background-color: #d4a815;
    transition: background-color 150ms;
}
.hSelected:hover {
    background-color: #e9c95fb2;
}
#dayButtons {
    display: flex;
    width: 100%;
    height: 3rem;
    justify-content: space-between;
}
#dayButtons button {
    width: 48%;
    height: 3rem;
    justify-content: center;
}
#dayBottom {
    position: absolute;
    height: 8rem;
    width: calc(100% - 3rem);
    bottom: 0;
    margin: 1rem
}
.secondary {
    background-color: #fff;
    outline: #fff solid 3px;
    font-weight: bold;
    color: #9b9b9b;
    transition: background-color 150ms, color 150ms, outline 150ms;
}
.primary {
    background-color: #f0f0f0;
    color: #9b9b9b;
    outline: #f0f0f0 solid 3px;
    font-weight: bold;
    transition: background-color 150ms, color 150ms, outline 150ms;
}
.primary:hover, .secondary:hover {
    color: #d4a815;
    outline: #ffecb0b6 solid 3px;
    background-color: #ffecb0b6;
}
#btnsCalendar {
    display: flex;
    align-items: center;
    width: calc(100%);
    height: 3rem;
    justify-content: space-around;
    border-radius: 1rem 1rem 0 0;
    background-color: #fff;
    border-bottom: 2px solid #f0f0f0;
}
h4 {
    font-size: larger;
}

.monthBtn {
    background-color: #fff;
    width: 4rem;
}

#calendar {
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.06);
    border-radius: 1rem
}
table {
    font-family: 'Poppins', sans-serif;
    width: calc(100%);
    border-collapse: separate;
    border-spacing: 0.5rem;
    border-radius: 0 0 1rem 1rem;
    border: 2px solid #fff;
    background-color: #fff;
}

tr {
    height: 3rem;
}

th {
    width: 14%;
    padding: 0;
}

td {
    text-align: center;
    border-radius: 1rem;
    user-select: none;
    transition: color 150ms, outline 150ms;
}

.dayOfMonth {
    background-color: #fff;
    outline: #f0f0f0 solid 2px;
    font-weight: 500;
}

td:not(.empty):hover {
    background-color: #ffecb0b6;
    outline: #d4a815 solid 2px;
}

.empty {
    color: rgba(0, 0, 0, 0.486);
}

.today {
    outline: #9b9b9b solid 2px;
    background-color: white;
}
.half {
    transition: outline 150ms, background-color 150ms;
}
.firstHalf {
    border-bottom: 1px solid #f0f0f0;
}
#respuestas {
    display: flex;
    flex-direction: column;
}
#respuestas div {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}
#respuestas p {
    height: 1.36rem;
    margin: 0;
    margin-left: 0.5rem;
}
#contenido {
    display: flex;
    height: 100%;
}

#contenidoPregunta {
    width: 60%;
    height: 100%;
}

#preguntaPapa {
    display: flex;
    align-items: end;
    border-bottom: 2px solid #f0f0f0;
    padding: 0.5rem 0;
}
#preguntaPanel {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.06);
    height: 15rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#buttonContainer {
    width: 100%;
    display: flex;
    justify-content: right;
}
#buttonContainer button {
    background-color: #f0f0f0;
    color: #9b9b9b;
    padding: 1rem;
    font-weight: bold;
}
#pregunta {
    font-weight: bold;
    font-size: 1.5rem;
}

#monito {
    width: 40%
}

.navActive {
    fill: #d4a815;
    color: #d4a815;
}

article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 0.5rem 3rem;
    margin: 1rem 0;
    width: calc(100% - 6rem - 4px);
    border: 2px solid #ffffff00;
    box-shadow: -1px 3px 5px 2px rgba(0, 0, 0, 0.06);
    color: #9b9b9b;
    outline: #ffecb0b6 solid 0px;
    background-color: #fff;
    transition: outline 150ms, border 150ms;
}

article:not(.notes) b {
    display: flex;
    height: 0;
    overflow: hidden;
    color: #fff;
    transition: height 150ms, color 350ms;
}

article div {
    width: 100%;
}

article div textarea {
    display: flex;
    align-items: center;
    border: none;
    width: 100%;
    resize: none;
}

.notes textarea {
    width: 100%;
}

.notes b {
    color: #000;
}

article textarea:focus {
    border: none;
    outline: none;
}

article:focus-within {
    outline: #ffecb0b6 solid 6px;
    border: 2px solid #d4a815;
}

article:focus-within b {
    color: var(--gray);
    height: 2rem;
}

#callme {
    width: 100%;
}
.btnAgregar {
    background-color: white;
}
.btnLlamar:hover {
    outline: #6d53ff solid 2px;
    cursor: pointer;
}
.btnAgregar input {
    border: none;
    width: 100%;
    text-align: center;
}
input:disabled {
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: none;
    border: none;
}
.btnAgregar input:focus {
    outline: none;
}
.btnAgregar svg {
    display: none;
}
.btnAgregar:focus-within svg {
    stroke: #d4a815;
    fill: #d4a815;
}
button {
    display: flex;
    align-items: center;
    border: none;
    background-color: #fff;
    border-radius: 1rem;
    height: 2rem;
    transition: background-color 150ms;
}

button:hover {
    cursor: pointer;
    background-color: #ffecb0b6;
}

button:hover svg {
    fill: #d4a815;
}

button svg {
    height: 1.5rem;
    fill: #9b9b9b;
    transition: fill 150ms;
}

iframe {
    border-radius: 1rem;
    box-shadow: -1px 5px 15px 2px rgba(0, 0, 0, 0.2);
    background-color: black;
}

#welcome {
    transition: color 150ms, width 150ms;
}
#loadingHTML {
    display:flex;
    width: calc(100% - 10rem);
    height: calc(100vh - 10rem);
    margin-right: 10rem;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:800px) {
    #calendarSection, #homeContent, #contenido {
        flex-direction: column;
    }
    #firstC {
        width: 100%;
    }
    #secondC {
        width: 100%;
        margin-left: 0;
    }
    #loadingHTML {
        width: 100%;
        margin: 0;
    }
    header {
        padding-left: 1rem;
        width: calc(100% - 1rem);
        background-color: #f8f8f8;
    }

    nav {
        width: calc(100% - 1rem);
        height: 5rem;
        bottom: 0;
        padding: 0 0.5rem;
        top: auto;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        border-radius: 1rem 1rem 0 0;
        box-shadow: -1px 0px 15px 2px rgba(0, 0, 0, 0.1);
    }

    article {
        width: calc(100% - 6rem - 4px);
    }

    #app {
        margin: 5rem 1rem;
    }

    #pregunta {
        font-size: 1rem;
    }
    #day {
        top: auto;
        bottom: 6rem;
        height: calc(100vh - 32vh);
        width: calc(100% - 4rem);
    }
    #resVideos {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav div {
        display: flex;
        justify-content: center;
        height: 1.5rem;
        width: 5rem;
    }

    nav h2 {
        display: none;
    }

    nav:hover {
        width: calc(100% - 1rem);
    }

    nav div svg {
        margin: 0 1rem;
    }

    iframe {
        width: 70%;
        height: 13rem;
    }

    #calendar {
        width: 100%;
    }

    #btnsCalendar {
        width: 100%;
    }

    table {
        width: 100%;
    }
}

@media screen and (max-width:500px) {
    nav div {
        display: flex;
        justify-content: center;
        height: 3rem;
        width: 3rem;
        padding: 0;
    }

    nav div svg {
        margin: 0;
    }

    nav:hover svg {
        margin: 0;
    }

    iframe {
        width: 100%;
        height: 13rem;
    }
}


.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #d8d8d8;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  