<div id="loadingHTML">

    <div class="lds-ripple"><div></div><div></div></div>
</div>
<div id="calendarApp">
<div id="calendarSection" class="calendarSectionInvisible">
    <h3>Agendar cita</h3>
        <div id="calendar">
            <div id="btnsCalendar">
                <button class="monthBtn" onclick="generateLastMonthCalendar()">
                    Atrás
                </button>
                <h4 id="monthTitle">Abril</h4>
                <button class="monthBtn" onclick="generateNextMonthCalendar()">
                    Siguiente
                </button>
            </div>
            <table id="calendarDays">
            </table>
        </div>
    </div>
    <div id="day">
        <h4 id="selectedDate">4 de abril</h4>
        <div id="hours">
        </div>
        <div id="dayBottom">
            <div id="timeOptions">
                <p id="sd1" onclick="selectDuration(id)">30 mins</p>
                <p id="sd2" onclick="selectDuration(id)">1 hr</p>
                <p id="sd3" onclick="selectDuration(id)">2 hrs</p>
            </div>
            <div id="dayButtons">
                <button class="secondary" onclick="closeDay()">Cancelar</button>
                <button class="primary" onclick="submitAppointment()">Siguiente</button>
            </div>
        </div>
    </div>
</div>
