<div id="contenido">
    <div id="firstC">
        <h3>Cuestionario</h3>
        <div id="preguntaPanel">
            <div>
                <div id="preguntaPapa">
    
                    <label id="pregunta">¿Cómo te sientes hoy?</label>
    
                </div>
                <div id="respuestas">
                    <div>
                        <input type="radio" name="respuestas" value="0" class="respuesta">
                        <p>Bien</p>
                    </div>
                    <div>
                        <input type="radio" name="respuestas" value="1" class="respuesta">
                        <p>Mal</p>
                    </div>
                </div>

            </div>
            <div id="buttonContainer">
                <button onclick="siguientePregunta()">Siguiente</button>
            </div>
        </div>
    </div>
    <div id="secondC"></div>
</div>