<div id="contenido">
    <div id="contenidoPregunta">
        <form action="">
            <div id="preguntaPapa">

                <label id="pregunta">¿Cómo te sientes hoy?</label>
                
            </div>
            <div>
                <input type="radio" name="bom" class="respuesta">Bien
                <input type="radio" name="bom" class="respuesta">Mal
                <input type="radio" name="bom" class="respuesta">Mal
                <input type="radio" name="bom" class="respuesta">Mal
            </div>
            <button onclick="siguientePregunta()">Siguiente</button>
        </form>
    </div>
    <div id="monito">

        
    </div>
</div>